/***** VARIABLES *****/
/***** MIXINS *****/
/***** INHERITANCE *****/
.cssgrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px; }
  @media screen and (max-width: 920px) {
    .cssgrid {
      grid-template-columns: repeat(3, 1fr); } }
  @media screen and (max-width: 767.5px) {
    .cssgrid {
      grid-template-columns: repeat(4, 1fr); } }
  @media screen and (max-width: 576px) {
    .cssgrid {
      grid-template-columns: repeat(3, 1fr); } }
  @media screen and (max-width: 490px) {
    .cssgrid {
      grid-template-columns: repeat(2, 1fr); } }
  .cssgrid .film {
    margin-top: 10px; }
    .cssgrid .film div > button {
      position: absolute;
      margin-left: 10px;
      margin-top: -10px;
      z-index: 1; }
      .cssgrid .film div > button .fa-sort-down {
        padding: 1px; }
    .cssgrid .film a > img {
      width: 100% !important;
      transition: .3s; }
      .cssgrid .film a > img:hover {
        cursor: pointer;
        opacity: .7; }
    .cssgrid .film a > span {
      position: absolute; }

.filters {
  display: flex;
  flex-direction: row; }

#bandera {
  width: 40%; }

.film-page .padre-cabecera {
  background: black; }
  .film-page .padre-cabecera > img {
    opacity: .5; }

.film-page .jumbotron {
  padding: 30px 0; }

.film-page .card-body {
  margin-top: -150px; }
  @media screen and (max-width: 767.5px) {
    .film-page .card-body {
      margin-top: -50px; } }
  @media screen and (max-width: 767.5px) {
    .film-page .card-body .row > .col-12 > img {
      width: 30%; } }
