.badge-primary {
    background-color: $color-secondary-variant;
}


body {
    background-color: $color-background;

    >nav {
        background-color: $color-primary;

        .navbar-nav > a{
            margin-top: 3px;
        }
    }

    >.container-fluid {
        margin-top: 6rem !important;

        .card {
            border-style: none;
            @extend %b-shadow;

            >.card-header {
                background-color: $color-primary-variant;

                .nav-link {
                    color: $color-background;
                }

                .nav-link.active {
                    color: black;
                    border-color: $color-background;
                }
            }

            >.card-body .more-button {
                color: $color-secondary-variant;
            }

            .filter-container {
                @extend %b-shadow;
                padding: 15px;
                border-radius: 4px;
                background-color: $color-secondary;
                transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

                &:hover {
                    @extend %b-shadow-hover;
                }

                input,
                select {
                    border: none;
                }
            }
        }

        .collapse>.card {
            box-shadow: none;

            .filter-container {
                transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

                input,
                select {
                    border: none;
                }

                &:hover {
                    @extend %b-shadow-hover;
                }
            }

        }
    }
}



.cssgrid {
    display: grid;
    @include grid-col(4);
    grid-gap: 15px;

    @media screen and (max-width: $break-grid-3) {
        @include grid-col(3);
    }

    @media screen and (max-width: $break-grid-small) {
        @include grid-col(4);
    }

    @media screen and (max-width: $break-grid-small-3) {
        @include grid-col(3);
    }

    @media screen and (max-width: $break-grid-small-2) {
        @include grid-col(2);
    }



    .film {
        margin-top: 10px;

        div>button {
            position: absolute;
            margin-left: 10px;
            margin-top: -10px;
            z-index: 1;

            .fa-sort-down {
                padding: 1px;
            }
        }

        a {
            >img {
                width: 100% !important;
                transition: .3s;

                &:hover {
                    cursor: pointer;
                    opacity: .7;
                }
            }

            >p {
                font-weight: bold;
                color: $color-primary;
            }
        }
    }
}

.filters {
    display: flex;
    flex-direction: row;
}

#bandera {
    width: 40%;
}